html, body {
  font: 14px/1.21 Ubuntu, Cantarell, 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
}

.content {
  padding: 2rem;
}

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cell {
  flex: 1;
}

.cell.rowspan {
  flex: 2;
}
