@import url("../node_modules/chota/dist/chota.min.css");

:root {
  --font-family-sans: 'Segoe UI', Ubuntu, Cantarell, 'Helvetica Neue', arial, sans-serif;
}

button svg {
  vertical-align: middle;
  margin-right: 0.5rem;
}
