@import url('../../node_modules/picnic/picnic.min.css');

html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    padding: 0 2rem;
    height: 100%;
    width: 70%;
    margin: 0 auto;
}
